<% include ../partials/doctorHeader %>
<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-dark fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                   InstaDoc
                </a>
            </li>
            <li>
                <a href="#">Dashbaord</a>
            </li>
            <li  class="active-li">
                <a href="/Doctor/Profile">Profile</a>
            </li>
            <li>
                <a href="#">Waiting Room</a>
            </li>
            <li>
                <a href="#">Help</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="/doctor/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class = "jumbotron-fluid pr-d">
                <div class="container-fluid ">
                        
                               
                        <div class="border border-dark rounded ">
                                <div class="bg-primary  text-left text-white d-block  p-3 border-bottom">
                                    <h2>PROFILE</h2>
                                </div>
                                <div class="p-3 bg-light text-dark profile">
                                        <p>Name: <%=currentUser.username %></p>
                                        <p>Mobile No.: <%=currentUser.mobile%></p>
                                        <p>Room Name: <%=currentUser.userid%></p>
                                        <p>Email: <%=currentUser.email%></p>
                                        <p>Join Date: <%=currentUser.dateOfJoin.toDateString()%></p>
                                </div>
                            </div>
                </div>
            </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<% include ../partials/doctorFooter %>