<% include ../partials/header.ejs %>

<div class="container">
    <div class="jumbotron">
        <div class = "jumbotron-fluid wait-r">
    <div class="container ">
        <div class="border border-dark rounded " style="background:rgb(235, 235, 235)">
            <div class="text-left d-block p-1 border-bottom">
                    <h4>Hello <span id="Username"><%= username %></span></h4>
                    <h5>Mobile : <span id="mob"><%=mobile%></span></h5>
                    <h3>You have visited <span id="roomname"><%=doctordetail.userid%></span></h3>
                <h3>Doctor Name: Dr.<span  id="doctorName"><%=doctordetail.username %></span></h3>
            </div>
            <div class="p-3 bg-light">
                <h5>Status:<span id= "status"> Offline </span></h5>
                <a type="button" href="https://hubl.in/<%=doctordetail.userid%>" class="btn btn-outline-dark">Start chat</a>

            </div>
        </div>
          
       
    </div>
    <br>
    <div class="messageArea">
            <h4>Global Waiting Room Chat</h4>
            <div id="chat" class="chat" style="overflow: auto;resize: vertical;height: 170px; background: -webkit-linear-gradient(to right, #ffc0cb, #800080);background: linear-gradient(to right, #ffc0cb, #800080);border-radius: 3px 3px 0px 0px;color: #1a3349;"></div>
            <form id="messageForm" action="">
              <div class="form-group">
               
                <textarea class="form-control" id="message" placeholder="Enter Your Message"></textarea>
                <br />
                <input type="submit" class="btn btn-primary" value="send message" />
              </div>
            </form>
          </div>
          </div>
          </div>
          
         
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
<script src="/js/chatUser.js"></script>

<% include ../partials/footer.ejs %>